header {
  .mobile-nav-icon {
    font-size: 3rem;
    color: #000;
    position: absolute;
    right: 5%;
    top: 7%;
    z-index: 2000;
    // visibility: hidden;
    background-color: #fff;
    border-radius: 50%;
    padding: 1.5rem 2.2rem;
    position: fixed;
    cursor: pointer;
    transition: 0.3s all;
    z-index: 99999999999999999;
  }
  nav {
    &.menu-overlay {
      // visibility: visible;

      flex-direction: column;
      align-items: center;

      height: 100vh;
      width: 100%;

      // border: 10px solid red;
      z-index: 3;
      background-color: #1c1c25;
      // background-color: lighten($primary-color, 10);
      // background-color: darken($primary-color, 5);
      // background-color: $primary-color;
      color: #fff;
      justify-content: center;
      // transform: translateX(-10vw);
      margin: 0;
      opacity: 0.95;
      padding: 2rem 0;
      position: fixed;
      font-size: 4rem;
      display: flex;
      z-index: 1500;
      animation: overlay-anim;
      //   transform: translate3d(0, 0, 0);
      .nav-link:link,
      .nav-link:visited {
        color: #fff !important;
        opacity: 1;
        border-bottom: 2px solid transparent;
        transition: 0.2s all;
      }
      .nav-link:hover,
      .nav-link:active {
        border-bottom: 2px solid #fff;
      }
    }
  }
  .icons-grid {
  }
  // .icons-grid {
  //   &.icons-menu-overlay {
  //     position: static;
  //     display: flex;
  //     height: 90vh;
  //     align-items: flex-end;
  //     justify-content: center;
  //     z-index: 5500;

  //     border: 1px solid red;
  //     a {
  //       i {
  //         display: inline;
  //         color: #fff;
  //         display: inline-block;
  //       }
  //     }
  //   }
  // }
}

@keyframes overlay-anim {
  0% {
    transform: translateY(-100%);
    width: 30%;
    left: 35%;
  }

  50% {
    transform: translateY(0);
    width: 30%;
    left: 35%;
  }

  100% {
    transform: translateY(0);
    width: 100%;
    left: 0;
  }
}
.nav-visible {
  visibility: visible;
}
