@import 'config';
@import 'menu';

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url($background-url);
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  color: #fff;
  position: relative;
  overflow: hidden;

  // .logo-text {
  //   transform: translateX(5vw);
  //   font-weight: 100;
  //   font-size: 300%;
  //   display: inline-block;
  //   border: 1px solid white;
  // }

  .hero-box {
    // padding-left: 6rem;
    // transform: translateY(40%);
    // position: absolute;
    &-container {
      position: absolute;
      top: 45%;
      left: 40%;
      transform: translate(-50%, -50%);
      // text-align: center;
    }
    // margin-left: 50%;
    // margin-top: 50%;
    // -webkit-transform: translate(-50%, -50%);
    // -ms-transform: translate(-50%, -50%);
    // transform: translate(-50%, -50%);

    .icons-grid {
      position: absolute;
      // z-index: 9999;
      right: 0;
      top: 30%;
      @media only screen and (max-width: 850px) {
        display: none;
      }
      a:link,
      a:visited {
        display: block;
        // margin-top: -5rem;
        margin-right: 2rem;
        font-size: 3rem;
        margin-bottom: 1.5rem;
        color: #fff;
        transition: 0.3s color;
      }

      a:hover,
      a:active {
        // color: #fff;
        color: darken(#fff, 20);
      }
    }
    .btn:link,
    .btn:visited {
      display: inline-block;
      margin-top: 2.5rem;
      border: 1px solid $primary-color;
      font-weight: 700;
      font-size: 1.7rem;
      padding: 1rem 2rem;
      letter-spacing: 2px;
      background-color: $primary-color;
      transform: scale(1);
      transition: 0.3s all;
      @media only screen and (max-width: 550px) {
        font-size: 1.5rem;
        padding: 1rem;
      }
    }

    .btn:hover,
    .btn:active {
      transform: scale(1.02);
      background-color: darken($primary-color, 5);
    }
    .btn-ghost:link,
    .btn-ghost:visited {
      font-weight: 700;
      font-size: 1.7rem;
      margin-left: 1rem;
      color: $primary-color;
      transition: 0.3s all;
      border: 1px solid #fff;
      @media only screen and (max-width: 550px) {
        font-size: 1.5rem;
        padding: 1rem;
      }
    }

    .btn-ghost:hover,
    .btn-ghost:active {
      color: #fff;
      border: 1px solid $primary-color;
    }
    .hero-text {
      width: 80%;
      line-height: 145%;
      font-size: 1.7rem;
      word-spacing: 1px;
      letter-spacing: 1px;

      a:link,
      a:visited {
        color: $primary-color;
        transition: 0.3s color;
      }

      a:hover,
      a:active {
        color: darken(#fff, 20);
      }
    }

    .name-highlight {
      color: $primary-color;
    }

    h1 {
      margin: 0;
      font-size: 5rem;
      margin-bottom: 1.4rem;
      line-height: 135%;
    }
  }

  nav {
    display: flex;
    justify-content: flex-end;
    // transform: translateX(-10vw);
    margin-right: 13rem;
    align-items: center;
    font-size: 1.8rem;
    visibility: hidden;
    opacity: 0;

    .nav-link {
      &:link,
      &:visited {
        margin: 4rem 0;
        color: transparent;
        font-weight: 700;
        letter-spacing: 2px;
        // border-bottom: 2px solid transparent;
        transition: 0.3s all;
      }

      &:hover,
      &:active {
        // border-bottom: 2px solid $primary-color;
        color: #fff;
      }
      i {
        font-size: 1.7rem;
      }
    }
  }

  .works-link {
    // border: 1px solid red;
    position: absolute;
    bottom: 0;
    left: 50%;
    color: #fff;

    h6 {
      font-size: 1.5rem;
      margin-bottom: 5px;
      font-weight: 100;
      letter-spacing: 0.2rem;
      &:hover {
        cursor: pointer;
      }
    }
    a {
      display: flex;
      justify-content: center;
      i {
        font-size: 5rem;
      }
      &:link,
      &:visited {
        color: darken(#fff, 20);
      }

      &:hover,
      &:active {
        color: #fff;
      }
    }
  }
}

.about {
  // padding-top: 1rem;
  // padding-bottom: 0.5rem;
  margin-bottom: 1rem;

  .portdolio-image {
    img {
      border-radius: 50%;
      width: 15%;
      display: block;
      margin: 0 auto;
      transform: translateY(8rem);
      @media only screen and (max-width: 1050px) {
        transform: translateY(3rem);
      }
    }
  }

  .grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 3rem;
    @media only screen and (max-width: 1050px) {
      margin: 1%;
    }
    box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.75);

    .box {
      // border: 1px solid red;
      padding: 8rem 8rem;
      @media only screen and (max-width: 1050px) {
        padding: 2rem 2rem;
      }
      .box-icon-grid {
        margin-top: 3rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        i {
          display: inline-block;
          font-size: 6rem;
          margin-right: 3rem;
          margin-bottom: 1rem;

          transition: color 0.3s;
          &:hover {
            cursor: pointer;
          }
        }

        .devicon-react-original-wordmark:hover {
          color: #00d8ff;
        }

        .devicon-html5-plain-wordmark:hover {
          color: #e34f26;
        }

        .devicon-css3-plain-wordmark:hover {
          color: #258ec9;
        }

        .devicon-bootstrap-plain-wordmark:hover {
          color: #5d317d;
        }

        .devicon-nodejs-plain-wordmark:hover {
          color: #44883e;
        }
        .devicon-mongodb-plain-wordmark:hover {
          color: #589636;
        }

        .devicon-git-plain-wordmark:hover {
          color: #ff2300;
        }

        .devicon-github-plain-wordmark:hover {
          color: #333;
        }
      }

      &:nth-child(1) {
        background-color: #ecf0f1;
        // background-color: $primary-color-5;
      }

      &:nth-child(2) {
        // background: #2d3436;
        // color: #fff;
        background: #ecf0f1;
        color: #000;
      }

      .contact-text {
        font-size: 1rem;
        margin-top: 0.2rem;
        font-weight: 100;
        letter-spacing: 1px;
      }
      h2 {
        font-size: 2rem;
      }
      .about-text {
        line-height: 145%;
        font-size: 1.7rem;
        margin-top: 1rem;
      }

      form {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;

        label {
          margin: 0.5rem 0 0 0.7rem;
          font-size: 1.4rem;
          // display: block;
        }
        input,
        textarea {
          // margin-bottom: 0.5rem;
          font-size: 1.4rem;
          font-weight: 300;
          letter-spacing: 1px;
          margin: 1rem 1rem;
          // background-color: #2d3436;
          background-color: #ecf0f1;
          border: none;
          // border-bottom: 1px solid #fff;
          border-bottom: 1px solid #000;
          outline: none;
          // color: darken(#fff, 20);
          color: #000;
          transition: 0.5s border-bottom;
          // width: 100%
          &:focus {
            background-color: #ecf0f1;
            border-bottom: 1px solid $primary-color;
          }
        }

        input {
          height: 3rem;
        }
        .submit-btn-ghost {
          display: inline-block;
          margin-top: 2.5rem;
          border: 1px solid $primary-color;
          font-weight: 100;
          font-size: 1.3rem;
          padding: 1rem 2rem;
          letter-spacing: 1px;
          // text-transform: uppercase;
          transform: scale(1);
          transition: 0.3s all;
          color: $primary-color;
          font-weight: 700;
          text-transform: uppercase;
          width: 25%;
          margin-left: 2%;
          background-color: #fff;
          border-radius: 5px;
          &:hover {
            background-color: $primary-color;
            color: #fff;
            cursor: pointer;
          }
        }
      }
    }
  }
}

footer {
  background-color: #1c1c25;
  // background-color: #2d3436;
  // background-color: #1e2223;
  padding: 10rem 0;

  .footer-text {
    font-size: 1.5rem;
    text-align: center;
    display: block;
    color: #fff;

    i {
      color: #d63031;
      font-size: 3rem;
    }
  }
  .footer-icons-grid {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;

    i {
      font-size: 3rem;
      margin: 0 3rem;
    }
  }
}

.projects {
  padding-top: 4rem;

  hr {
    width: 70%;
    margin-left: 15%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0)
    );
  }
  h2 {
    text-align: center;
    margin-bottom: 5rem;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 2px;
    color: #000;
  }
  .container-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 6rem;
    margin: 5% 0;
    // margin: 3rem 0;
    // padding: 0 10rem;
    // padding-left: 15%;
    // width: 70%;
    @media only screen and (max-width: 1050px) {
      padding: 0;
    }
    .project-description {
      // border: 1px solid red;
      // text-align: center;
      // padding-top: 5rem;
      // margin-left: 15%;
      padding-top: 18%;
      margin-left: 5%;

      @media only screen and (max-width: 1200px) {
        padding-top: 10rem;
        padding-left: 6rem;
      }

      @media only screen and (max-width: 1000px) {
        padding-top: 6rem;
        padding-left: 4rem;
      }

      @media only screen and (max-width: 800px) {
        padding-top: 2rem;
        padding: 3%;
      }

      .description-text {
        margin-bottom: 1.3rem;
        font-size: 1.6rem;
        font-weight: 300;
      }
      p {
        width: 60%;
        @media only screen and (max-width: 800px) {
          width: 90%;
        }
        font-size: 1.5rem;
        line-height: 145%;
        font-weight: 100;
      }
      h3 {
        font-size: 2.8rem;
        margin-bottom: 0.5rem;
        font-weight: 700;
        letter-spacing: 1px;
      }
      .btn-ghost {
        margin-top: 1rem;
        color: #000;
        font-weight: 700;
        font-size: 1.3rem;
        text-transform: uppercase;
      }
    }
    .project-image {
      position: relative;
      width: 70%;
      margin-left: 30%;
      // border: 1px solid green;
      img {
        width: 100%;
        @media only screen and (max-width: 850px) {
          width: 100%;
        }
      }

      .iphone {
        width: 40%;
        position: absolute;
        right: -15%;
        top: 40%;
        @media only screen and (max-width: 850px) {
          display: none;
        }
      }
    }
  }

  .more-projects {
    // text-align: center;
    text-align: center;
    h5 {
      font-size: 3.5rem;
      margin-bottom: 1rem;
      letter-spacing: 1px;
    }
    a {
      &:link,
      &:visited {
        color: $primary-color;
        font-size: 1.7rem;
        transition: 0.3s all;
      }
      &:hover,
      &:active {
        color: darken($primary-color, 5);
      }
    }
  }
}

@import 'queries';
