@import 'config';
@import 'menu';

// ======================================
//===============header============
// ======================================
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url($background-url);
  height: 100vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;

  .logo-container {
    display: flex;
    margin-left: 11rem;
    padding-top: 2rem;
    .logo-image {
      img {
        width: 6rem;
      }
    }

    .logo-description {
      margin-top: 1.2rem;
      margin-left: 0.5rem;
      p,
      span {
        color: #fff;
      }
      .logo-text {
        font-size: 2rem;
        font-family: 'Indie Flower', cursive;
        // margin-bottom: 0.3rem;
      }

      span {
        font-size: 1.2rem;
        font-weight: 700;
      }
    }
  }

  .hero-text-box {
    // border: 1px solid red;
    position: absolute;
    top: 45%;
    left: 30%;
    transform: translate(-30%, -45%);
    color: #fff;

    h1 {
      font-size: 5rem;
      margin-bottom: 1rem;
      line-height: 1.35;
    }

    p {
      font-size: 1.7rem;
      line-height: 1.45;
      width: 60%;
      letter-spacing: 1px;
      word-spacing: 1px;
      @include easeOut;
      span:hover {
        color: #fff;
        cursor: pointer;
      }
    }

    .btn {
      margin: 2rem 1.5rem 0 0;
    }
    // end hero box text
  }
  .works-box {
    position: absolute;
    bottom: 0;
    left: 50%;

    h6 {
      font-size: 1.5rem;
      margin-bottom: 5px;
      font-weight: 400;
      letter-spacing: 0.2rem;
      color: #fff;
    }
    a {
      display: flex;
      justify-content: center;
      .arrow {
        font-size: 5rem;
        color: #fff;

        &:hover {
          color: darken(#fff, 20);
        }
      }
    }
    //end works box
  }
}
// ======================================
//===============works============
// ======================================
.works {
  padding: 4rem 0;
  overflow: hidden;
  h2 {
    text-align: center;
    font-size: 3.5rem;
    word-spacing: 1px;
    letter-spacing: 2px;
    font-weight: 300;
  }

  .project-container {
    // border: 1px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    margin: 5rem 0;

    .project-image {
      // border: 1px solid blue;
      position: relative;
      .macbook-project {
        width: 85%;
        margin-left: 15%;
      }
      .iphone-project {
        width: 27%;
        position: absolute;
        top: 48%;
        right: -4%;
      }
    }

    .project-description {
      // border: 1px solid green;
      position: absolute;
      top: 32%;
      left: 52%;

      div {
        margin-bottom: 1.3rem;
        width: 40%;
        .border-text {
          color: #fff;
          background-color: $primary-color;
          display: inline-block;
          margin-right: 0.5rem;
          margin-bottom: 0.3rem;
          padding: 0.4rem;
          text-transform: uppercase;
          font-size: 8px;
        }
      }

      h3 {
        font-size: 2.5rem;
        letter-spacing: 1px;
        margin-bottom: 0.2rem;
        letter-spacing: 2px;
      }

      p {
        line-height: 1.35;
        font-size: 1.6rem;
        margin-bottom: 1.3rem;
        width: 70%;
      }

      #btn {
        &:link,
        &:visited {
          padding: 1rem 1.5rem;
          font-size: 10.3rem;
          letter-spacing: 1px;
          font-weight: 100;
        }
      }
    }
    //End project container
  }
}
// ======================================
//===============more-projects============
// ======================================

.more-projects {
  text-align: center;
  margin: 13rem 0;
  h2 {
    font-size: 3rem;
  }
  a {
    &:link,
    &:visited {
      color: $primary-color;
      font-size: 1.5rem;
      margin-top: 1.3rem;
      display: inline-block;
      letter-spacing: 1px;
      @include easeOut;
    }

    &:hover,
    &:active {
      color: darken($primary-color, 7);
    }
  }
}
// ======================================
//===============about============
// ======================================

.about {
  padding: 7rem 0;
  position: relative;

  img {
    position: absolute;
    top: 0;
    border-radius: 50%;
    width: 10%;
    left: 45%;
  }

  .about-wrapper {
    // border: 1px solid red;
    width: 50%;
    margin: 0 auto;
    padding: 10% 5%;
    // box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
    // background-color: #ebf0f1;
    // background-color: #444;
    -webkit-animation: shadow-drop-tb 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: shadow-drop-tb 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

    h3 {
      font-size: 3rem;
      text-align: center;
      margin-bottom: 4rem;
      color: #555;
      // color: #fff;
    }

    p {
      font-size: 1.7rem;
      line-height: 1.5;
      margin-bottom: 2rem;
      color: #555;
      // color: #fff;
      &:last-child {
        margin-top: 3rem;
      }
      .icon-blog {
        color: $primary-color;
        font-size: 3rem;
        margin-left: 1rem;
      }
    }
    .dev-icon-grid {
      margin: 0 auto;
      margin-top: 5rem;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      i {
        font-size: 5.5rem;
      }
    }
    // end about wrapper
  }
}
// ======================================
//===============contact============
// ======================================
.contact {
  padding: 10rem 0;
  text-align: center;
  h3 {
    font-size: 3rem;
    margin-bottom: 0.2rem;
  }
  p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    color: $primary-color;
  }
  #btn-ghost {
    font-size: 2rem;
    color: $primary-color;
    border: 1px solid #555;
    padding: 5rem 8rem;
    display: inline-block;
    border-radius: 1.5rem;
    cursor: pointer;
    font-size: 2rem;
    color: #555;
    margin-bottom: 1rem;
    &:hover {
      background: #555;
      color: #fff;
    }
  }
  span {
    display: block;
    font-size: 1.5rem;
  }
}
// ======================================
//===============footer============
// ======================================
footer {
  background-color: #444;
  padding: 7rem 0;

  .icon-heart {
    font-size: 3rem;
    color: #ff0000;
  }
  p {
    text-align: center;
    font-size: 1.3rem;
    span {
      font-family: 'Indie Flower', cursive;
    }
  }

  .icons-grid {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    a {
      .footer-icon {
        display: inline-block;
        margin: 0 1rem;
      }
    }
  }

  p {
    color: #fff;
  }
}

/**
 * ----------------------------------------
 * animation shadow-drop-tb
 * ----------------------------------------
 */
@-webkit-keyframes shadow-drop-tb {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35),
      0 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-tb {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35),
      0 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}

@import 'mobile';
